@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-between; */
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header, .footer{
  display: flex;
  /* background-color: gray; */
  justify-content: space-between;
  align-content: center;
  padding: 15px;

}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: center;
  gap: 15px;
}

.footer{
  background-color: #eeeeee;
}

/* .left-links{
  display: flex;
  justify-content: flex-start;
}

.right-links{
  display: flex;
  justify-content: flex-end;
}

.left-links, .right-links{
  gap: 15px;
} */

ul{
 list-style: none; 
 margin: 0;
 padding: 0;
 display: flex;
 gap: 16px;
}

a{
  text-decoration: none;
  color: gray;
}

button{
  padding: 10px 20px;
}

